# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=geckevent
DB_PASS=geckevent123
DB_NAME=geckevent_dev

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=cambia_esto_en_produccion

# App
PORT=3000
NODE_ENV=development